# SAYT SOMETHING HERE
Looking at the occupation of pharmacists

### Importing Libraries

In [4]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Reading Data & Exploratory Data Analysis

In [5]:
#reading file. morg2014.csv was too large- had to turn into zip file
file = pd.read_csv('ezyzip.zip')

In [25]:
#see data
file.shape

(317056, 96)

In [33]:
#Pharmacists
pharm = file.loc[file['occ2012'] == 3050].reset_index(drop=True)
pharm.head()

,hhid,intmonth,hurespli,minsamp,hrlonglk,hrsample,hrhhid2,serial,hhnum,state,...,ym_file,ym,ch02,ch35,ch613,ch1417,ch05,ihigrdc,docc00,dind02
0,620910090003769,January,1.0,MIS 8,MIS 2-4 Or MIS 6-8 (link To,9100,91001,1,1,63,...,648,633,0,0,0,1,0,16.0,Healthcare practitioner and technical occupations,Retail trade
1,999056955039680,January,1.0,MIS 8,MIS 2-4 Or MIS 6-8 (link To,9100,91002,2,2,93,...,648,633,0,0,0,0,0,18.0,Healthcare practitioner and technical occupations,Retail trade
2,252450330330104,January,1.0,MIS 8,MIS 2-4 Or MIS 6-8 (link To,9100,91001,1,1,59,...,648,633,0,0,0,0,0,18.0,Healthcare practitioner and technical occupations,Retail trade
3,407901641893405,January,1.0,MIS 4,MIS 2-4 Or MIS 6-8 (link To,9200,92001,1,1,95,...,648,645,0,0,0,0,0,18.0,Healthcare practitioner and technical occupations,Hospitals
4,691821013001704,January,1.0,MIS 8,MIS 2-4 Or MIS 6-8 (link To,9100,91002,2,2,IA,...,648,633,0,0,0,0,0,18.0,Healthcare practitioner and technical occupations,Hospitals

In [93]:
#checking for null values
#below 3 (age, sex, grade92) have no missing values
pharm.age.isnull().value_counts()
pharm.sex.isnull().value_counts()
pharm.grade92.isnull().value_counts()

#uhourse and earnwke have missing values
pharm.uhourse.isnull().value_counts()
pharm.earnwke.isnull().value_counts()

#fixing uhourse and earnwke missing values
pharm.loc[pharm['uhourse'].isnull()].uhourse
pharm['uhourse'].fillna(0, inplace = True)
pharm.loc[pharm['earnwke'].isnull()].earnwke
pharm['earnwke'].fillna(0, inplace = True)

#creating (y) variable for earnings per hour as 'earnperhour'
pharm['earnperhour'] = pharm['earnwke']/pharm['uhourse']
pharm['earnperhour']

#creating dummy variable for sex
pharm['female'] = (pharm["sex"] == 2)
pharm['female'] = pharm['female'].astype(int)

#creating dummy variable for grade92
pharm['grade92'].min() #39, high school grad, diploma, or GED
pharm['grade92'].max() #46, doctorate degree
pharm['grade92'].mean() #about 44, master's degree
pharm['grade92'].describe() #in order to categorize education levels. 25% less than 43 (bachelor's) so that can be the highest threshold for the ed-low category
pharm['ed_low'] = ((pharm['grade92'] >= 39) & (pharm['grade92'] <= 43)).astype(int) #high school-bachelor's degree
pharm['ed_high'] = ((pharm['grade92'] >= 44) & (pharm['grade92'] <= 46)).astype(int) #master's-doctorate

In [ ]:
reg1 = smf.ols(formula="w~female", data=data).fit()

In [ ]:
# y = earnings per hour 
    #this means... earnwke (weekly earnings)/uhourse
# x = age, sex, uhourse (usual work hours), grade92 (highest educational grade completed)
# Model 1: age
# Model 2: age, sex
# Model 3: age, sex, uhourse
# Model 4: age, sex, uhourse, grade92

## have to turn sex and grade92 into dummy variables!!!