# SAY SOSMETHING HERE

 Your task will be to help a company operating small and mid-size apartments hosting 2-6 guests. The company is set to price their new apartments not on the market.
 
- Build a price prediction model similarly to how we did in our case study for London.
- Discuss your modeling decisions and compare your results to those of the case study.

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('austinairbnblistings.csv')

In [4]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5456,Guesthouse in Austin · ★4.84 · 1 bedroom · 2 b...,8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,101.0,2,668,2023-11-20,3.71,1,330,47,NaN
1,5769,Home in Austin · ★4.91 · 1 bedroom · 1 bed · 1...,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,NaN,1,294,2023-12-07,1.76,1,0,20,NaN
2,218402,Home in Austin · ★4.74 · 1 bedroom · 1 bed · 1...,1129520,Paulette,NaN,78754,30.36145,-97.64397,Private room,30.0,28,29,2023-09-24,0.20,1,252,2,NaN
3,6413,Guesthouse in Austin · ★4.97 · Studio · 1 bed ...,13879,Todd,NaN,78704,30.24885,-97.73587,Entire home/apt,NaN,30,120,2022-10-17,0.70,1,0,0,NaN
4,6448,Guesthouse in Austin · ★4.97 · 1 bedroom · 2 b...,14156,Amy,NaN,78704,30.26034,-97.76487,Entire home/apt,159.0,3,312,2023-12-04,2.09,1,160,21,NaN

In [5]:
data.shape

(15419, 18)

In [9]:
data.room_type.value_counts()

room_type
Entire home/apt    12562
Private room        2722
Shared room          128
Hotel room             7
Name: count, dtype: int64

In [12]:
data.loc[data['room_type'] == 'Entire home/apt']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5456,Guesthouse in Austin · ★4.84 · 1 bedroom · 2 b...,8028,Sylvia,NaN,78702,30.260570,-97.734410,Entire home/apt,101.0,2,668,2023-11-20,3.71,1,330,47,NaN
3,6413,Guesthouse in Austin · ★4.97 · Studio · 1 bed ...,13879,Todd,NaN,78704,30.248850,-97.735870,Entire home/apt,NaN,30,120,2022-10-17,0.70,1,0,0,NaN
4,6448,Guesthouse in Austin · ★4.97 · 1 bedroom · 2 b...,14156,Amy,NaN,78704,30.260340,-97.764870,Entire home/apt,159.0,3,312,2023-12-04,2.09,1,160,21,NaN
5,219168,Rental unit in Austin · ★4.88 · Studio · 1 bed...,1134580,Kalu,NaN,78704,30.245190,-97.744860,Entire home/apt,NaN,2,8,2016-10-09,0.06,1,0,0,NaN
6,8502,Guest suite in Austin · ★4.56 · 1 bedroom · 1 ...,25298,Karen,NaN,78741,30.234660,-97.736820,Entire home/apt,48.0,4,51,2023-05-16,0.30,1,75,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15407,1046446724556255368,Rental unit in Austin · ★New · 1 bedroom · 1 b...,545892202,Monthier,NaN,78701,30.261865,-97.742385,Entire home/apt,92.0,1,0,NaN,NaN,4,261,0,NaN
15408,1046490684531759639,Townhouse in Austin · ★New · 4 bedrooms · 7 be...,512324279,Valerie And Kyle,NaN,78702,30.270684,-97.704532,Entire home/apt,142.0,1,0,NaN,NaN,11,335,0,NaN
15409,1046491941158053171,Townhouse in Austin · ★New · 4 bedrooms · 7 be...,512324279,Valerie And Kyle,NaN,78702,30.270684,-97.704532,Entire home/apt,142.0,1,0,NaN,NaN,11,357,0,NaN
15413,1039276072771109547,Home in Austin · ★New · 3 bedrooms · 3 beds · ...,7363313,Macy,NaN,78754,30.360289,-97.663187,Entire home/apt,175.0,30,0,NaN,NaN,11,266,0,NaN
15415,1039283681987055580,Rental unit in Austin · ★New · 2 bedrooms · 2 ...,328223296,Olusegun,NaN,78754,30.401881,-97.639342,Entire home/apt,160.0,1,0,NaN,NaN,3,267,0,NaN

In [13]:
data.name[0]

'Guesthouse in Austin · ★4.84 · 1 bedroom · 2 beds · 1 bath'