## SAY SOMETHING HERE

A company-year long format xt panel data table, 2005-2016 
 n = 287,829 observations (46,412 firms)
	(third as many companies in 2016 as in earlier years)
 - ID variables	comp_id	(numerical) company identifier
- year	(calendar) year

 other important variables
 
- exit_year	year of exit (missing if still in business on 2016.12.31) 
- sales		sales in year (EUR)
- curr_assets	current assets at end of year (EUR)
- ind2		2-digit NACE industry code

DEFAULT =  Existed in 2014 (sales > 0), but did not exists in 2015 (sales is 0 or missing)

In [1]:
import pandas as pd
import numpy as np
from plotnine import *
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('cs_bisnode_panel.zip')
data

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
0,1.001034e+06,2005-01-01,2005-12-31,NaN,692.592590,7266.666504,7574.074219,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
1,1.001034e+06,2006-01-01,2006-12-31,NaN,603.703674,13122.222656,12211.111328,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
2,1.001034e+06,2007-01-01,2007-12-31,NaN,425.925934,8196.295898,7800.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
3,1.001034e+06,2008-01-01,2008-12-31,NaN,300.000000,8485.185547,7781.481445,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
4,1.001034e+06,2009-01-01,2009-12-31,NaN,207.407410,5137.037109,15300.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287824,4.641209e+11,2011-01-01,2011-12-31,NaN,0.000000,1807.407349,3.703704,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287825,4.641209e+11,2012-01-01,2012-12-31,NaN,0.000000,1518.518555,96.296295,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287826,4.641209e+11,2013-01-01,2013-12-31,NaN,0.000000,988.888916,77.777779,0.0,0.0,0.0,...,NaN,NaN,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287827,4.641209e+11,2014-01-01,2014-12-31,NaN,0.000000,644.444458,233.333328,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287828,4.641209e+11,2015-01-01,2015-12-31,NaN,0.000000,166.666672,270.370361,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN

In [3]:
data = data.loc[data['ind2'] == 26]
data
#data for specific industry

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
960,6.538183e+06,2005-01-01,2005-12-31,NaN,792.592590,6237.037109,348.148163,0.000000,0.0,0.000000,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
961,6.538183e+06,2006-01-01,2006-12-31,NaN,196.296295,6007.407227,451.851837,0.000000,0.0,0.000000,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
962,6.538183e+06,2007-01-01,2007-12-31,NaN,233.333328,9007.407227,2637.037109,0.000000,0.0,0.000000,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
963,6.538183e+06,2008-01-01,2008-12-31,NaN,422.222229,7707.407227,1651.851807,0.000000,0.0,0.000000,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
964,6.538183e+06,2009-01-01,2009-12-31,NaN,1525.925903,18196.296875,8714.814453,18.518518,0.0,-18.518518,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287439,4.628231e+11,2012-01-01,2012-12-31,NaN,359.259247,21662.962891,19481.482422,0.000000,0.0,0.000000,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.333333
287440,4.628231e+11,2013-01-01,2013-12-31,NaN,3159.259277,15488.888672,21440.740234,0.000000,0.0,0.000000,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.298611
287441,4.628231e+11,2014-01-01,2014-12-31,NaN,2581.481445,70059.257812,74911.109375,0.000000,0.0,0.000000,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.486111
287442,4.628231e+11,2015-01-01,2015-12-31,NaN,2177.777832,46062.964844,49844.445312,0.000000,0.0,0.000000,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.562500
287443,4.628231e+11,2016-01-01,2016-12-31,NaN,5362.962891,59570.371094,41681.480469,NaN,NaN,NaN,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.555556

In [88]:
#cleaning dataset:

#x = amort, curr_assets, curr_liab, extra_exp, extra_inc, fixed_assets, inc_bef_tax, intang_assets, inventories
#liq_assets, material_exp, personnel_exp, profit_loss_year, sales????, share_eq, subscribed_cap, tang_assets
#ceo_count, foreign (%), female(%), inoffice_days, *gender(female_only, male_only, mixed_gender),
#*origin(domestic, foreign, mix), urban_m (capital city, big_city, other_hq_city), *region_m (Central, East, West)


#imputing missing amort values with median (less affected by outliers)
#creating flag_variable for missing values and imputed values
data.amort.isnull().sum()
data['amort_missing_flag'] = data.amort.isnull().astype(int)
data['amort_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'amort':data['amort'].median()}, inplace = True)

#imputing missing curr_assets values with median
#creating flag_variable for missing values and imputed values
data.curr_assets.isnull().sum()
data['curr_assets_missing_flag'] = data.amort.isnull().astype(int)
data['curr_assets_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'curr_assets':data['curr_assets'].median()}, inplace = True)

#imputing missing curr_liab values with median
#creating flag_variable for missing values and imputed values
data.curr_liab.isnull().sum()
data['curr_liab_missing_flag'] = data.amort.isnull().astype(int)
data['curr_liab_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'curr_liab':data['curr_liab'].median()}, inplace = True)

#imputing missing extra_exp values with median
#creating flag_variable for missing values and imputed values
data.extra_exp.isnull().sum()
data['extra_exp_missing_flag'] = data.amort.isnull().astype(int)
data['extra_exp_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'extra_exp':data['extra_exp'].median()}, inplace = True)

#imputing missing extra_inc values with median
#creating flag_variable for missing values and imputed values
data.extra_inc.isnull().sum()
data['extra_inc_missing_flag'] = data.amort.isnull().astype(int)
data['extra_inc_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'extra_inc':data['extra_inc'].median()}, inplace = True)

#delete finished_prof column (too many null values): 13054/14877
###UNCOMMENT THIS!!!!!!!!!!!!!!!!!!!!!!    data = data.drop('finished_prod', axis=1)

#imputing missing fixed_assets values with median
#creating flag_variable for missing values and imputed values
data.fixed_assets.isnull().sum()
data['fixed_assets_missing_flag'] = data.amort.isnull().astype(int)
data['fixed_assets_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'fixed_assets':data['fixed_assets'].median()}, inplace = True)

#imputing missing inc_bef_tax values with median
#creating flag_variable for missing values and imputed values
data.inc_bef_tax.isnull().sum()
data['inc_bef_tax_missing_flag'] = data.amort.isnull().astype(int)
data['inc_bef_tax_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'inc_bef_tax':data['inc_bef_tax'].median()}, inplace = True)

#imputing missing intang_assets values with median
#creating flag_variable for missing values and imputed values
data.intang_assets.isnull().sum()
data['intang_assets_missing_flag'] = data.amort.isnull().astype(int)
data['intang_assets_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'intang_assets':data['intang_assets'].median()}, inplace = True)

#imputing missing inventories values with median
#creating flag_variable for missing values and imputed values
data.inventories.isnull().sum()
data['inventories_missing_flag'] = data.amort.isnull().astype(int)
data['inventories_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'inventories':data['inventories'].median()}, inplace = True)

#imputing missing liq_assets values with median
#creating flag_variable for missing values and imputed values
data.liq_assets.isnull().sum()
data['liq_assets_missing_flag'] = data.amort.isnull().astype(int)
data['liq_assets_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'liq_assets':data['liq_assets'].median()}, inplace = True)

#imputing missing material_exp values with median
#creating flag_variable for missing values and imputed values
data.material_exp.isnull().sum()
data['material_exp_missing_flag'] = data.amort.isnull().astype(int)
data['material_exp_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'material_exp':data['material_exp'].median()}, inplace = True)

#delete net_dom_sales column (too many null values): 13022/14877
###UNCOMMENT THIS!!!!!!!!!!!!!!!!!!!!!!    data = data.drop('net_dom_sales', axis=1)

#delete net_exp_sales column (too many null values): 13022/14877
###UNCOMMENT THIS!!!!!!!!!!!!!!!!!!!!!!    data = data.drop('net_exp_sales', axis=1)

#imputing missing personnel_exp values with median
#creating flag_variable for missing values and imputed values
data.personnel_exp.isnull().sum()
data['personnel_exp_missing_flag'] = data.amort.isnull().astype(int)
data['personnel_exp_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'personnel_exp':data['personnel_exp'].median()}, inplace = True)

#imputing missing profit_loss_year values with median
#creating flag_variable for missing values and imputed values
data.profit_loss_year.isnull().sum()
data['profit_loss_year_missing_flag'] = data.amort.isnull().astype(int)
data['profit_loss_year_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'profit_loss_year':data['profit_loss_year'].median()}, inplace = True)

#not imputing the nan values for sales as those are important to the 'default' y variable

#imputing missing share_eq values with median
#creating flag_variable for missing values and imputed values
data.share_eq.isnull().sum()
data['share_eq_year_missing_flag'] = data.amort.isnull().astype(int)
data['share_eq_year_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'share_eq':data['share_eq'].median()}, inplace = True)

#imputing missing subscribed_cap values with median
#creating flag_variable for missing values and imputed values
data.subscribed_cap.isnull().sum()
data['subscribed_cap_missing_flag'] = data.amort.isnull().astype(int)
data['subscribed_cap_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'subscribed_cap':data['subscribed_cap'].median()}, inplace = True)

#imputing missing tang_assets values with median
#creating flag_variable for missing values and imputed values
data.tang_assets.isnull().sum()
data['tang_assets_missing_flag'] = data.amort.isnull().astype(int)
data['tang_assets_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'tang_assets':data['tang_assets'].median()}, inplace = True)

#delete wages column (too many null values): 13060/14877
###UNCOMMENT THIS!!!!!!!!!!!!!!!!!!!!!!    data = data.drop('wages', axis=1)

#imputing missing ceo_count values with median
#creating flag_variable for missing values and imputed values
data.ceo_count.isnull().sum()
data['ceo_count_missing_flag'] = data.amort.isnull().astype(int)
data['ceo_count_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'ceo_count':data['ceo_count'].median()}, inplace = True)

#imputing missing foreign values with median (% of foreign CEOs)
#creating flag_variable for missing values and imputed values
data.foreign.isnull().sum()
data['foreign_missing_flag'] = data.amort.isnull().astype(int)
data['foreign_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'foreign':data['foreign'].median()}, inplace = True)

#imputing missing female values with median (% of female CEOs)
#creating flag_variable for missing values and imputed values
data.female.isnull().sum()
data['female_missing_flag'] = data.amort.isnull().astype(int)
data['female_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'female':data['female'].median()}, inplace = True)

#imputing missing inoffice_days values with median (could use median or mean in this case as distribution is not skewed- using median for consistency)
#creating flag_variable for missing values and imputed values
data.inoffice_days.isnull().sum()
data['inoffice_days_missing_flag'] = data.amort.isnull().astype(int)
data['inoffice_days_imputed_flag'] = data.amort.isnull().astype(int)
data.fillna({'inoffice_days':data['inoffice_days'].median()}, inplace = True)

#impute the nan gender values with mode (categorical variable)
data['gender'] = data['gender'].fillna(data['gender'].mode()[0])
#categorical variable gender (female only, male only, or mixed)
data['female_only'] = (data['gender'] == 'female').astype(int)
data['male_only'] = (data['gender'] == 'male').astype(int)
data['mixed_gender'] = (data['gender'] == 'mix').astype(int)

#impute the nan origin values with mode (categorical variable)
data['origin'] = data['origin'].fillna(data['origin'].mode()[0])
#categorical variable origin (domestic, foreign, mix)
data['domestic'] = (data['origin'] == 'Domestic').astype(int)
data['foreign'] = (data['origin'] == 'foreign').astype(int)
data['mix'] = (data['origin'] == 'mix').astype(int)

#impute the nan urban_m values with mode (categorical variable)
data['urban_m'] = data['urban_m'].fillna(data['urban_m'].mode()[0])
#categorical variable urban_m (1- capital city, 2-other big city, 3-other)
data['capital_city'] = (data['urban_m'] == 1).astype(int)
data['big_city'] = (data['urban_m'] == 2).astype(int)
data['other_hq_city'] = (data['urban_m'] == 3).astype(int)

#impute the nan region_m values with mode (categorical variable)
data['region_m'] = data['region_m'].fillna(data['region_m'].mode()[0])
#categorical variable region_m (Central, East, West)
data['central'] = (data['region_m'] == 'Central').astype(int)
data['east'] = (data['region_m'] == 'East').astype(int)
data['west'] = (data['region_m'] == 'West').astype(int)

In [99]:
data

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,male_only,mixed_gender,domestic,mix,capital_city,big_city,other_hq_city,central,east,west
960,6.538183e+06,2005-01-01,2005-12-31,NaN,792.592590,6237.037109,348.148163,0.000000,0.0,0.000000,...,1,0,0,0,0,1,0,0,1,0
961,6.538183e+06,2006-01-01,2006-12-31,NaN,196.296295,6007.407227,451.851837,0.000000,0.0,0.000000,...,1,0,0,0,0,1,0,0,1,0
962,6.538183e+06,2007-01-01,2007-12-31,NaN,233.333328,9007.407227,2637.037109,0.000000,0.0,0.000000,...,1,0,0,0,0,1,0,0,1,0
963,6.538183e+06,2008-01-01,2008-12-31,NaN,422.222229,7707.407227,1651.851807,0.000000,0.0,0.000000,...,1,0,0,0,0,1,0,0,1,0
964,6.538183e+06,2009-01-01,2009-12-31,NaN,1525.925903,18196.296875,8714.814453,18.518518,0.0,-18.518518,...,1,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287439,4.628231e+11,2012-01-01,2012-12-31,NaN,359.259247,21662.962891,19481.482422,0.000000,0.0,0.000000,...,1,0,1,0,1,0,0,1,0,0
287440,4.628231e+11,2013-01-01,2013-12-31,NaN,3159.259277,15488.888672,21440.740234,0.000000,0.0,0.000000,...,1,0,1,0,1,0,0,1,0,0
287441,4.628231e+11,2014-01-01,2014-12-31,NaN,2581.481445,70059.257812,74911.109375,0.000000,0.0,0.000000,...,1,0,1,0,1,0,0,1,0,0
287442,4.628231e+11,2015-01-01,2015-12-31,NaN,2177.777832,46062.964844,49844.445312,0.000000,0.0,0.000000,...,1,0,1,0,1,0,0,1,0,0
287443,4.628231e+11,2016-01-01,2016-12-31,NaN,5362.962891,59570.371094,41681.480469,0.000000,0.0,NaN,...,1,0,1,0,1,0,0,1,0,0

### Checking to see how many companies defaulted

In [107]:
#trying to see how many companies defaulted, first by creating 2014_data
data.sort_values(by = ['comp_id', 'year'], inplace = True)
data_2014 = data.loc[data['year'] == 2014]
data_2014['company_existed_2014'] = 0
data_2014.loc[(data_2014['sales'] > 0), 'company_existed_2014'] = 1
data_2014

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg,company_existed_2014
969,6.538183e+06,2014-01-01,2014-12-31,NaN,1018.518494,17022.222656,3040.740723,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN,1
1128,8.416055e+06,2014-01-01,2014-12-31,NaN,425.925934,105740.742188,6918.518555,0.0,0.0,0.0,...,Domestic,2651.0,26.0,2.0,1,Central,1995-08-28,NaN,0.083333,1
1342,1.089394e+07,2014-07-24,2014-12-31,NaN,0.000000,30614.814453,128055.546875,0.0,0.0,0.0,...,Domestic,2651.0,26.0,2.0,1,Central,2004-12-13,NaN,NaN,0
1467,1.242838e+07,2014-01-01,2014-12-31,NaN,0.000000,0.000000,9277.777344,0.0,0.0,0.0,...,Domestic,2660.0,26.0,2.0,2,Central,1991-06-27,NaN,0.083333,1
1593,1.571155e+07,2014-01-01,2014-12-31,NaN,0.000000,2477.777832,0.000000,0.0,0.0,0.0,...,NaN,2630.0,26.0,2.0,1,Central,2001-09-01,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286758,4.604901e+11,2014-01-01,2014-12-31,NaN,0.000000,33.333332,585.185181,0.0,0.0,0.0,...,Domestic,2640.0,26.0,2.0,2,East,2000-06-14,NaN,NaN,0
286890,4.610112e+11,2014-01-01,2014-12-31,NaN,429.629639,58781.480469,2651.851807,0.0,0.0,0.0,...,Domestic,2620.0,26.0,2.0,3,Central,1997-12-10,NaN,0.166667,1
287204,4.620594e+11,2014-01-01,2014-12-31,NaN,1111.111084,68274.070312,16211.111328,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,1,Central,1996-12-30,NaN,0.250000,1
287272,4.623300e+11,2014-01-01,2014-12-31,NaN,0.000000,17192.591797,7325.925781,0.0,0.0,0.0,...,mix,2611.0,26.0,2.0,2,East,2010-12-15,NaN,0.166667,1
287441,4.628231e+11,2014-01-01,2014-12-31,NaN,2581.481445,70059.257812,74911.109375,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.486111,1

In [111]:
#trying to see how many companies defaulted, secondly by creating 2015_data
data_2015 = data.loc[data['year'] == 2015]
data_2015['company_not_existed_2015'] = 0
data_2015.loc[(data_2015['sales'].isna())|(data_2015['sales'] == 0), 'company_not_existed_2015'] = 1
data_2015

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg,company_not_existed_2015
970,6.538183e+06,2015-01-01,2015-12-31,NaN,1029.629639,18944.445312,2470.370361,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN,0
1129,8.416055e+06,2015-01-01,2015-12-31,NaN,529.629639,86151.851562,2555.555664,0.0,0.0,0.0,...,Domestic,2651.0,26.0,2.0,1,Central,1995-08-28,NaN,NaN,0
1343,1.089394e+07,2015-01-01,2015-12-31,NaN,0.000000,30614.814453,128055.546875,0.0,0.0,0.0,...,Domestic,2651.0,26.0,2.0,1,Central,2004-12-13,NaN,NaN,1
1468,1.242838e+07,2015-01-01,2015-12-31,NaN,0.000000,118.518517,11081.481445,0.0,0.0,0.0,...,Domestic,2660.0,26.0,2.0,2,Central,1991-06-27,NaN,0.083333,0
1508,1.375798e+07,2015-12-10,2015-12-31,NaN,0.000000,29200.000000,25225.925781,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,2,Central,2000-05-07,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286759,4.604901e+11,2015-01-01,2015-12-31,NaN,0.000000,14.814815,711.111084,0.0,0.0,0.0,...,Domestic,2640.0,26.0,2.0,2,East,2000-06-14,NaN,NaN,1
286891,4.610112e+11,2015-01-01,2015-12-31,NaN,411.111115,54511.109375,4548.147949,0.0,0.0,0.0,...,Domestic,2620.0,26.0,2.0,3,Central,1997-12-10,NaN,0.242424,0
287205,4.620594e+11,2015-01-01,2015-12-31,NaN,1159.259277,73688.890625,20029.628906,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,1,Central,1996-12-30,NaN,0.222222,0
287273,4.623300e+11,2015-01-01,2015-12-31,NaN,0.000000,22740.740234,6881.481445,0.0,0.0,0.0,...,mix,2611.0,26.0,2.0,2,East,2010-12-15,NaN,0.166667,0
287442,4.628231e+11,2015-01-01,2015-12-31,NaN,2177.777832,46062.964844,49844.445312,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.562500,0

In [122]:
#merge the two together to see how many defaulted
yo = pd.merge(data_2014, data_2015, on = 'comp_id')
yo

,comp_id,begin_x,end_x,COGS_x,amort_x,curr_assets_x,curr_liab_x,extra_exp_x,extra_inc_x,extra_profit_loss_x,...,origin_y,nace_main_y,ind2_y,ind_y,urban_m_y,region_m_y,founded_date_y,exit_date_y,labor_avg_y,company_not_existed_2015
0,6.538183e+06,2014-01-01,2014-12-31,NaN,1018.518494,17022.222656,3040.740723,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN,0
1,8.416055e+06,2014-01-01,2014-12-31,NaN,425.925934,105740.742188,6918.518555,0.0,0.0,0.0,...,Domestic,2651.0,26.0,2.0,1,Central,1995-08-28,NaN,NaN,0
2,1.089394e+07,2014-07-24,2014-12-31,NaN,0.000000,30614.814453,128055.546875,0.0,0.0,0.0,...,Domestic,2651.0,26.0,2.0,1,Central,2004-12-13,NaN,NaN,1
3,1.242838e+07,2014-01-01,2014-12-31,NaN,0.000000,0.000000,9277.777344,0.0,0.0,0.0,...,Domestic,2660.0,26.0,2.0,2,Central,1991-06-27,NaN,0.083333,0
4,1.571155e+07,2014-01-01,2014-12-31,NaN,0.000000,2477.777832,0.000000,0.0,0.0,0.0,...,NaN,2630.0,26.0,2.0,1,Central,2001-09-01,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,4.604901e+11,2014-01-01,2014-12-31,NaN,0.000000,33.333332,585.185181,0.0,0.0,0.0,...,Domestic,2640.0,26.0,2.0,2,East,2000-06-14,NaN,NaN,1
1246,4.610112e+11,2014-01-01,2014-12-31,NaN,429.629639,58781.480469,2651.851807,0.0,0.0,0.0,...,Domestic,2620.0,26.0,2.0,3,Central,1997-12-10,NaN,0.242424,0
1247,4.620594e+11,2014-01-01,2014-12-31,NaN,1111.111084,68274.070312,16211.111328,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,1,Central,1996-12-30,NaN,0.222222,0
1248,4.623300e+11,2014-01-01,2014-12-31,NaN,0.000000,17192.591797,7325.925781,0.0,0.0,0.0,...,mix,2611.0,26.0,2.0,2,East,2010-12-15,NaN,0.166667,0
1249,4.628231e+11,2014-01-01,2014-12-31,NaN,2581.481445,70059.257812,74911.109375,0.0,0.0,0.0,...,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.562500,0

In [136]:
#32 firms defaulted
yo['default'] = (yo['company_existed_2014'] == 1)&(yo['company_not_existed_2015'] == 1)
print(f"# of Defaulted firms: {len(yo.loc[yo['default'] == 1])} firms")

# of Defaulted firms: 32 firms

In [137]:
#the assignment says 56 firms defaulted, but no matter what I do, I never come to this number; therefore, I'm going
#with 32 firms defaulted

### Creating holdout and training samples

In [138]:
#criteria for the holdout sample so I can mask the training sample with !holdout_criteria
holdout_criteria = (data['year'] == 2014) & ((data['sales'] >=1000) & (data['sales']<=10000000))

In [139]:
#holdout sample creation
holdout = data[holdout_criteria]
print(f'Holdout shape: {holdout.shape}')
holdout.head()

Holdout shape: (1037, 48)

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
969,6538183.0,2014-01-01,2014-12-31,NaN,1018.518494,17022.222656,3040.740723,0.0,0.0,0.0,...,male,Domestic,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
1128,8416055.0,2014-01-01,2014-12-31,NaN,425.925934,105740.742188,6918.518555,0.0,0.0,0.0,...,female,Domestic,2651.0,26.0,2.0,1,Central,1995-08-28,NaN,0.083333
1467,12428378.0,2014-01-01,2014-12-31,NaN,0.000000,0.000000,9277.777344,0.0,0.0,0.0,...,male,Domestic,2660.0,26.0,2.0,2,Central,1991-06-27,NaN,0.083333
1706,17776540.0,2014-01-01,2014-12-31,NaN,48.148148,142296.296875,164237.031250,0.0,0.0,0.0,...,mix,Domestic,2620.0,26.0,2.0,1,Central,1997-07-01,NaN,0.305556
1735,18626760.0,2014-01-01,2014-12-31,NaN,5755.555664,95185.187500,45766.667969,0.0,0.0,0.0,...,male,Domestic,2670.0,26.0,2.0,2,West,2010-11-15,NaN,0.159091

In [140]:
training = data[~holdout_criteria]
training

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
960,6.538183e+06,2005-01-01,2005-12-31,NaN,792.592590,6237.037109,348.148163,0.000000,0.0,0.000000,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
961,6.538183e+06,2006-01-01,2006-12-31,NaN,196.296295,6007.407227,451.851837,0.000000,0.0,0.000000,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
962,6.538183e+06,2007-01-01,2007-12-31,NaN,233.333328,9007.407227,2637.037109,0.000000,0.0,0.000000,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
963,6.538183e+06,2008-01-01,2008-12-31,NaN,422.222229,7707.407227,1651.851807,0.000000,0.0,0.000000,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
964,6.538183e+06,2009-01-01,2009-12-31,NaN,1525.925903,18196.296875,8714.814453,18.518518,0.0,-18.518518,...,male,Foreign,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287438,4.628231e+11,2011-01-01,2011-12-31,NaN,1462.963013,16007.407227,6392.592773,0.000000,0.0,0.000000,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.234848
287439,4.628231e+11,2012-01-01,2012-12-31,NaN,359.259247,21662.962891,19481.482422,0.000000,0.0,0.000000,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.333333
287440,4.628231e+11,2013-01-01,2013-12-31,NaN,3159.259277,15488.888672,21440.740234,0.000000,0.0,0.000000,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.298611
287442,4.628231e+11,2015-01-01,2015-12-31,NaN,2177.777832,46062.964844,49844.445312,0.000000,0.0,0.000000,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.562500
287443,4.628231e+11,2016-01-01,2016-12-31,NaN,5362.962891,59570.371094,41681.480469,NaN,NaN,NaN,...,male,Domestic,2630.0,26.0,2.0,1,Central,2009-12-06,NaN,0.555556

In [149]:
unique_data = data.groupby('comp_id').first().reset_index()
unique_data.year

0       2005
1       2005
2       2005
3       2008
4       2006
        ...
1824    2012
1825    2005
1826    2005
1827    2010
1828    2009
Name: year, Length: 1829, dtype: int64