# SAYT SOMETHING HERE
Looking at the occupation of Legal Professions: Lawyers, Juges, Magistrates, and other judicial positions (occ2012 = 2100)

### Importing Libraries

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Reading Data & Exploratory Data Analysis

In [2]:
#reading file. morg2014.csv was too large- had to turn into zip file
file = pd.read_csv('ezyzip.zip')

In [3]:
#see data
file.shape

(317056, 96)

In [11]:
#Legal Professions like lawyers, judges, magistrates, and other judicial positions
#at start: 1,666 observations
law = file.loc[file['occ2012'] == 2100].reset_index(drop=True)
law.head()

,hhid,intmonth,hurespli,minsamp,hrlonglk,hrsample,hrhhid2,serial,hhnum,state,...,ym_file,ym,ch02,ch35,ch613,ch1417,ch05,ihigrdc,docc00,dind02
0,960021970039060,January,1.0,MIS 8,MIS 2-4 Or MIS 6-8 (link To,9100,91001,1,1,63,...,648,633,0,0,0,0,0,18.0,Legal occupations,Professional and Technical services
1,235004820400137,January,1.0,MIS 8,MIS 2-4 Or MIS 6-8 (link To,9100,91001,1,1,86,...,648,633,0,0,0,0,0,18.0,Legal occupations,Public Administration
2,985879730586005,January,3.0,MIS 8,MIS 2-4 Or MIS 6-8 (link To,9100,91001,1,1,71,...,648,633,0,0,0,1,0,18.0,Legal occupations,Professional and Technical services
3,94927107035608,January,2.0,MIS 4,MIS 2-4 Or MIS 6-8 (link To,9200,92001,1,1,93,...,648,645,0,0,1,0,0,18.0,Legal occupations,Professional and Technical services
4,97977400095618,January,1.0,MIS 4,MIS 2-4 Or MIS 6-8 (link To,9200,92001,1,1,93,...,648,645,0,0,0,1,0,18.0,Legal occupations,Professional and Technical services

In [ ]:
# y = earnings per hour 
    #this means... earnwke (weekly earnings)/uhourse
# x = age, sex, uhourse (usual work hours), grade92 (highest educational grade completed)
# Model 1: age, sex
# Model 2: age, sex, uhourse, grade92
# Model 3: age, sex, uhourse, grade92, state, race
# Model 4: age, sex, uhourse, grade92, state, race, ethnic, prcitshp

## have to turn sex and grade92 into dummy variables!!!

#could do 'state' as a variable, but would have to create dummy variables...
#could do 'race' as a variable, but would have to create dummy variables...
#could do 'ethnic' (ethnicity) as a variable, but would have to create dummy variables...
#could do 'prcitshp' (citizenship status) as a variable, but would have to create dummy variable...

In [12]:
law.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1666 entries, 0 to 1665
Data columns (total 96 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   hhid       1666 non-null   int64
 1   intmonth   1666 non-null   object
 2   hurespli   1666 non-null   float64
 3   minsamp    1666 non-null   object
 4   hrlonglk   1666 non-null   object
 5   hrsample   1666 non-null   int64
 6   hrhhid2    1666 non-null   int64
 7   serial     1666 non-null   int64
 8   hhnum      1666 non-null   int64
 9   state      1666 non-null   object
 10  stfips     1666 non-null   object
 11  cbsafips   1666 non-null   int64
 12  county     1666 non-null   int64
 13  centcity   1460 non-null   float64
 14  smsastat   1660 non-null   float64
 15  icntcity   288 non-null    float64
 16  smsa04     1666 non-null   int64
 17  relref95   1666 non-null   int64
 18  age        1666 non-null   int64
 19  spouse     1139 non-null   float64
 20  sex        1666 non-null   int64
 21  grade92    1666 non-null   int64
 22  race       1666 non-null   int64
 23  ethnic     68 non-null     float64
 24  lineno     1666 non-null   int64
 25  famnum     1666 non-null   int64
 26  pfamrel    1666 non-null   int64
 27  marital    1666 non-null   int64
 28  prpertyp   1666 non-null   int64
 29  penatvty   1666 non-null   object
 30  pemntvty   1666 non-null   object
 31  pefntvty   1666 non-null   object
 32  prcitshp   1666 non-null   object
 33  prcitflg   1666 non-null   object
 34  peinusyr   1666 non-null   object
 35  selfproxy  1653 non-null   float64
 36  lfsr94     1666 non-null   object
 37  absent94   52 non-null     object
 38  uhourse    1477 non-null   float64
 39  reason94   130 non-null    object
 40  hourslw    1553 non-null   float64
 41  laydur     2 non-null      float64
 42  dwrsn      5 non-null      float64
 43  why3594    254 non-null    object
 44  untype     24 non-null     float64
 45  ftpt94     1666 non-null   object
 46  class94    1666 non-null   object
 47  agri       1666 non-null   float64
 48  eligible   1666 non-null   object
 49  otc        1195 non-null   object
 50  ernpdh2    1666 non-null   int64
 51  paidhre    1195 non-null   object
 52  earnhre    121 non-null    float64
 53  earnwke    1195 non-null   float64
 54  unionmme   1195 non-null   object
 55  unioncov   1125 non-null   object
 56  schenr     1095 non-null   float64
 57  studftpt   24 non-null     object
 58  schlvl     24 non-null     float64
 59  earnwt     1666 non-null   float64
 60  weight     1666 non-null   float64
 61  chldpres   1666 non-null   int64
 62  ownchild   1666 non-null   int64
 63  I25d       1195 non-null   object
 64  I25c       122 non-null    object
 65  I25a       1666 non-null   object
 66  I25b       1666 non-null   object
 67  qstnum     1666 non-null   int64
 68  occurnum   1666 non-null   int64
 69  ged        13 non-null     float64
 70  gedhigr    1 non-null      float64
 71  yrcoll     24 non-null     float64
 72  grprof     46 non-null     float64
 73  gr6cor     22 non-null     float64
 74  ms123      99 non-null     float64
 75  cmpwgt     1666 non-null   float64
 76  ind02      1666 non-null   object
 77  occ2012    1666 non-null   float64
 78  vet1       121 non-null    float64
 79  vet2       19 non-null     float64
 80  vet3       6 non-null      float64
 81  vet4       0 non-null      float64
 82  linedad    37 non-null     float64
 83  linemom    24 non-null     float64
 84  recnum     1666 non-null   int64
 85  year       1666 non-null   int64
 86  ym_file    1666 non-null   int64
 87  ym         1666 non-null   int64
 88  ch02       1666 non-null   int64
 89  ch35       1666 non-null   int64
 90  ch613      1666 non-null   int64
 91  ch1417     1666 non-null   int64
 92  ch05       1666 non-null   int64
 93  ihigrdc    1666 non-null   float64
 94  docc00     1666 non-null   object
 95  dind02     1666 non-null   object
dtypes: float64(34), int64(32), object(30)
memory usage: 1.2+ MB

In [93]:
#checking for null values
#below 3 (age, sex, grade92) have no missing values
pharm.age.isnull().value_counts()
pharm.sex.isnull().value_counts()
pharm.grade92.isnull().value_counts()

#uhourse and earnwke have missing values
pharm.uhourse.isnull().value_counts()
pharm.earnwke.isnull().value_counts()

#fixing uhourse and earnwke missing values
pharm.loc[pharm['uhourse'].isnull()].uhourse
pharm['uhourse'].fillna(0, inplace = True)
pharm.loc[pharm['earnwke'].isnull()].earnwke
pharm['earnwke'].fillna(0, inplace = True)

#creating (y) variable for earnings per hour as 'earnperhour'
pharm['earnperhour'] = pharm['earnwke']/pharm['uhourse']
pharm['earnperhour']

#creating dummy variable for sex
pharm['female'] = (pharm["sex"] == 2)
pharm['female'] = pharm['female'].astype(int)

#creating dummy variable for grade92
pharm['grade92'].min() #39, high school grad, diploma, or GED
pharm['grade92'].max() #46, doctorate degree
pharm['grade92'].mean() #about 44, master's degree
pharm['grade92'].describe() #in order to categorize education levels. 25% less than 43 (bachelor's) so that can be the highest threshold for the ed-low category
pharm['ed_low'] = ((pharm['grade92'] >= 39) & (pharm['grade92'] <= 43)).astype(int) #high school-bachelor's degree
pharm['ed_high'] = ((pharm['grade92'] >= 44) & (pharm['grade92'] <= 46)).astype(int) #master's-doctorate

In [ ]:
#reg1 = smf.ols(formula="w~female", data=data).fit()

In [ ]:
# y = earnings per hour 
    #this means... earnwke (weekly earnings)/uhourse
# x = age, sex, uhourse (usual work hours), grade92 (highest educational grade completed)
# Model 1: age
# Model 2: age, sex
# Model 3: age, sex, uhourse
# Model 4: age, sex, uhourse, grade92

## have to turn sex and grade92 into dummy variables!!!