## SAY SOMETHING HERE

A company-year long format xt panel data table, 2005-2016 
 n = 287,829 observations (46,412 firms)
	(third as many companies in 2016 as in earlier years)
 - ID variables	comp_id	(numerical) company identifier
- year	(calendar) year

 other important variables
 
- exit_year	year of exit (missing if still in business on 2016.12.31) 
- sales		sales in year (EUR)
- curr_assets	current assets at end of year (EUR)
- ind2		2-digit NACE industry code

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('cs_bisnode_panel.zip')
data

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
0,1.001034e+06,2005-01-01,2005-12-31,NaN,692.592590,7266.666504,7574.074219,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
1,1.001034e+06,2006-01-01,2006-12-31,NaN,603.703674,13122.222656,12211.111328,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
2,1.001034e+06,2007-01-01,2007-12-31,NaN,425.925934,8196.295898,7800.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
3,1.001034e+06,2008-01-01,2008-12-31,NaN,300.000000,8485.185547,7781.481445,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
4,1.001034e+06,2009-01-01,2009-12-31,NaN,207.407410,5137.037109,15300.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287824,4.641209e+11,2011-01-01,2011-12-31,NaN,0.000000,1807.407349,3.703704,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287825,4.641209e+11,2012-01-01,2012-12-31,NaN,0.000000,1518.518555,96.296295,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287826,4.641209e+11,2013-01-01,2013-12-31,NaN,0.000000,988.888916,77.777779,0.0,0.0,0.0,...,NaN,NaN,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287827,4.641209e+11,2014-01-01,2014-12-31,NaN,0.000000,644.444458,233.333328,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287828,4.641209e+11,2015-01-01,2015-12-31,NaN,0.000000,166.666672,270.370361,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN

In [6]:
data.columns

Index(['comp_id', 'begin', 'end', 'COGS', 'amort', 'curr_assets', 'curr_liab',
       'extra_exp', 'extra_inc', 'extra_profit_loss', 'finished_prod',
       'fixed_assets', 'inc_bef_tax', 'intang_assets', 'inventories',
       'liq_assets', 'material_exp', 'net_dom_sales', 'net_exp_sales',
       'personnel_exp', 'profit_loss_year', 'sales', 'share_eq',
       'subscribed_cap', 'tang_assets', 'wages', 'D', 'balsheet_flag',
       'balsheet_length', 'balsheet_notfullyear', 'year', 'founded_year',
       'exit_year', 'ceo_count', 'foreign', 'female', 'birth_year',
       'inoffice_days', 'gender', 'origin', 'nace_main', 'ind2', 'ind',
       'urban_m', 'region_m', 'founded_date', 'exit_date', 'labor_avg'],
      dtype='object')

In [14]:
#criteria for the holdout sample so I can mask the training sample with !holdout_criteria
holdout_criteria = (data['ind2'] == 26) & (data['year'] == 2014) & ((data['sales'] >=1000) & (data['sales']<=10000000))

In [18]:
#holdout sample creation
holdout = data[holdout_criteria]
print(f'holdout.shape

(1037, 48)

In [16]:
training = data[~holdout_criteria]
training

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
0,1.001034e+06,2005-01-01,2005-12-31,NaN,692.592590,7266.666504,7574.074219,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
1,1.001034e+06,2006-01-01,2006-12-31,NaN,603.703674,13122.222656,12211.111328,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
2,1.001034e+06,2007-01-01,2007-12-31,NaN,425.925934,8196.295898,7800.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
3,1.001034e+06,2008-01-01,2008-12-31,NaN,300.000000,8485.185547,7781.481445,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
4,1.001034e+06,2009-01-01,2009-12-31,NaN,207.407410,5137.037109,15300.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287824,4.641209e+11,2011-01-01,2011-12-31,NaN,0.000000,1807.407349,3.703704,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287825,4.641209e+11,2012-01-01,2012-12-31,NaN,0.000000,1518.518555,96.296295,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287826,4.641209e+11,2013-01-01,2013-12-31,NaN,0.000000,988.888916,77.777779,0.0,0.0,0.0,...,NaN,NaN,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287827,4.641209e+11,2014-01-01,2014-12-31,NaN,0.000000,644.444458,233.333328,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287828,4.641209e+11,2015-01-01,2015-12-31,NaN,0.000000,166.666672,270.370361,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN

In [17]:
286792+1037

287829

In [62]:
firms_2014 = data[(data['year'] == 2014) & (data['sales'] > 0)]
firms_2014

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
16,1.001541e+06,2014-01-01,2014-12-31,NaN,2292.592529,6.500000e+03,2.962963e+02,0.000000,0.0,0.000000,...,male,Domestic,5610.0,56.0,3.0,3,Central,2008-02-24,NaN,NaN
25,1.002029e+06,2014-01-01,2014-12-31,NaN,17918.517578,1.836778e+05,5.943333e+04,0.000000,0.0,0.000000,...,male,Domestic,2711.0,27.0,2.0,3,East,2006-07-03,NaN,0.305556
58,1.011889e+06,2014-01-01,2014-12-31,NaN,46214.816406,2.816815e+05,9.622223e+03,0.000000,0.0,0.000000,...,male,Domestic,5510.0,55.0,3.0,2,West,1992-11-09,NaN,1.465278
70,1.014183e+06,2014-01-01,2014-12-31,NaN,6403.703613,2.170333e+05,6.362963e+03,0.000000,0.0,0.000000,...,male,Domestic,5510.0,55.0,3.0,2,Central,2001-12-21,NaN,0.847222
82,1.018301e+06,2014-01-01,2014-12-31,NaN,0.000000,1.759259e+03,1.544444e+03,0.000000,0.0,0.000000,...,male,Domestic,5630.0,56.0,3.0,2,Central,2004-06-29,NaN,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287769,4.639265e+11,2014-06-05,2014-12-31,NaN,407.407410,3.383704e+04,2.767407e+04,0.000000,0.0,0.000000,...,male,Domestic,5610.0,56.0,3.0,3,West,2014-06-04,NaN,0.166667
287781,4.639820e+11,2014-01-01,2014-12-31,NaN,7551.852051,8.765185e+04,1.156741e+05,0.000000,0.0,0.000000,...,male,Domestic,2822.0,28.0,2.0,1,Central,1995-05-14,NaN,0.597222
287792,4.640212e+11,2014-01-01,2014-12-31,NaN,5666.666504,1.528519e+04,1.488889e+03,0.000000,0.0,0.000000,...,male,Domestic,2822.0,28.0,2.0,2,Central,2006-05-09,NaN,0.101852
287800,4.640446e+11,2014-01-01,2014-12-31,1863870.375,71570.367188,6.486366e+06,2.499133e+06,0.000000,0.0,0.000000,...,male,Foreign,3312.0,33.0,2.0,3,Central,2008-10-09,NaN,2.305556
287816,4.641050e+11,2014-01-01,2014-12-31,NaN,1088.888916,5.009630e+04,1.375556e+04,55.555557,0.0,-55.555557,...,mix,Domestic,5610.0,56.0,3.0,3,West,1989-04-28,NaN,1.131944

In [65]:
firms_2015 = data[(data['year'] == 2015) & (data['sales'] < 1)]
firms_2015

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
10,1.001034e+06,2015-01-01,2015-12-31,NaN,3.703704,140.740738,22888.888672,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
106,1.039649e+06,2015-06-15,2015-12-31,NaN,0.000000,5755.555664,37.037037,0.0,0.0,0.0,...,male,Domestic,5610.0,56.0,3.0,1,Central,2015-06-09,NaN,NaN
127,1.056952e+06,2015-01-01,2015-12-31,NaN,0.000000,59.259258,25759.259766,0.0,0.0,0.0,...,male,Domestic,5610.0,56.0,3.0,2,Central,2007-02-15,NaN,NaN
191,1.130163e+06,2015-01-01,2015-12-31,NaN,0.000000,2670.370361,1844.444458,0.0,0.0,0.0,...,female,Domestic,5610.0,56.0,3.0,1,Central,1991-11-30,NaN,NaN
279,1.355494e+06,2015-01-01,2015-12-31,NaN,0.000000,403.703705,44.444443,0.0,0.0,0.0,...,male,Domestic,3020.0,30.0,1.0,3,Central,2001-06-28,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287732,4.638126e+11,2015-01-01,2015-12-31,NaN,0.000000,4348.147949,14.814815,0.0,0.0,0.0,...,female,Domestic,5610.0,56.0,3.0,3,Central,1997-05-17,NaN,NaN
287736,4.638292e+11,2015-01-01,2015-12-31,NaN,74.074074,440.740753,4837.037109,0.0,0.0,0.0,...,male,Domestic,5630.0,56.0,3.0,3,Central,2012-07-04,NaN,NaN
287755,4.638592e+11,2015-01-01,2015-12-31,NaN,0.000000,11133.333008,74.074074,0.0,0.0,0.0,...,male,Foreign,5610.0,56.0,3.0,2,West,2000-10-10,NaN,NaN
287760,4.638739e+11,2015-01-01,2015-12-31,NaN,0.000000,24988.888672,6596.296387,0.0,0.0,0.0,...,male,Domestic,5629.0,56.0,3.0,3,West,2011-06-21,NaN,NaN
287828,4.641209e+11,2015-01-01,2015-12-31,NaN,0.000000,166.666672,270.370361,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN

In [71]:
pd.merge(firms_2014, firms_2015, on = 'comp_id')

,comp_id,begin_x,end_x,COGS_x,amort_x,curr_assets_x,curr_liab_x,extra_exp_x,extra_inc_x,extra_profit_loss_x,...,gender_y,origin_y,nace_main_y,ind2_y,ind_y,urban_m_y,region_m_y,founded_date_y,exit_date_y,labor_avg_y
0,1.680873e+06,2014-01-01,2014-12-31,NaN,0.000000,33.333332,7366.666504,0.0,0.000000,0.000000,...,male,Foreign,5630.0,56.0,3.0,3,Central,2012-11-29,NaN,NaN
1,2.792794e+06,2014-01-01,2014-12-31,NaN,48.148148,3581.481445,1607.407349,0.0,0.000000,0.000000,...,mix,Domestic,5590.0,55.0,3.0,3,East,2011-07-24,NaN,NaN
2,6.782983e+06,2014-01-01,2014-12-31,NaN,96.296295,4314.814941,22959.259766,0.0,0.000000,0.000000,...,female,Domestic,5610.0,56.0,3.0,3,Central,2013-11-18,NaN,0.083333
3,9.421807e+06,2014-01-01,2014-12-31,NaN,1859.259277,103188.890625,211144.437500,0.0,0.000000,0.000000,...,female,Domestic,5610.0,56.0,3.0,1,Central,2000-03-28,NaN,0.000000
4,1.506677e+07,2014-01-01,2014-12-31,NaN,955.555542,25659.259766,4522.222168,0.0,0.000000,0.000000,...,male,Domestic,3312.0,33.0,2.0,3,West,2011-01-27,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,4.618741e+11,2014-01-01,2014-12-31,NaN,0.000000,15285.185547,1574.074097,0.0,0.000000,0.000000,...,male,Domestic,2825.0,28.0,2.0,3,Central,2000-04-05,2016-10-07,NaN
1016,4.631391e+11,2014-01-01,2014-12-31,NaN,592.592590,692.592590,7244.444336,0.0,0.000000,0.000000,...,male,Domestic,2829.0,28.0,2.0,3,Central,1998-02-25,NaN,NaN
1017,4.635078e+11,2014-01-01,2014-12-31,NaN,1259.259277,996.296326,4700.000000,0.0,185.185181,185.185181,...,mix,Domestic,5610.0,56.0,3.0,1,Central,2003-01-29,NaN,NaN
1018,4.638126e+11,2014-01-01,2014-12-31,NaN,0.000000,4407.407227,0.000000,0.0,0.000000,0.000000,...,female,Domestic,5610.0,56.0,3.0,3,Central,1997-05-17,NaN,NaN
1019,4.638739e+11,2014-01-01,2014-12-31,NaN,529.629639,24988.888672,6596.296387,0.0,0.000000,0.000000,...,male,Domestic,5629.0,56.0,3.0,3,West,2011-06-21,NaN,NaN